@media screen and (max-width:768px) {
    nav ul{display: none;
    }
    .navBtn{
        display: none;
    }
    .navBtnMobile{
        display:inline-block;
        text-decoration: none;
        position: absolute;
        left: 10rem;
        color: #fff;
    }
    .menu{
        display: block;
        max-height: 20px;
    }
    .navigation{
        margin-top: 3rem;
        text-align: center;
        vertical-align: center;
    }
    .navigation li{
        padding: 15px;
    }
    #div, .space{
        display: none;
    }
    .slide{
        display: block;
        width: 100%;
        margin: 1rem;
    }
    .slidetext{
        display: flex;
        width: 500%;
        color: #fff;
        margin-top: -1rem;
    }
    @keyframes textslide{
        0%{right:-400px;}
        05%{right: -5px}
        60%{right: -5px}
        65%{right: 820px}
        100%{right: 820px}
    }
    .row{
        height: 80vh;
    }
    #arrow{
        position: absolute;
        left: 30rem;
        margin-top: -30px;
    }
    
    .logo{
        height: 30px;
    }
    .slide form{
        width: 100%;
        margin-top: -2rem;
    }
    .whiteSection h2{
        font-size: 23px;
        font-weight: 400;
    }
    section{
        margin:0 1rem 3rem 1rem;

    }
    .blueSection{
        margin-top: -3rem;
    }
    .people{
        padding-top:3rem ;
        display: block;
    
    }
    .givepeople{
        width: 100%;
    }
    .give{
        display: block;
        justify-content: space-between;
    } 
    .giveCol{
        display: block;
    }
    .blueSection section{
        margin: 6rem;
    }
    .givee .txt{
        padding: 0;
        width: 100%;
    }
    .plug{
        display: block;
    }
    .plugTxt{
        width: 75%;
        margin-left: 12%;
    }
    .plugTxt p{
        font-size: 22px;
        font-weight: 300;
    }
    .blueSection .plugImg{
        margin-top: -5rem;
    }
    .ping, .custom, .foot, .whiteSection iframe, section .plugText,.blueSection .plugImg{
        width: 80%;
        margin-left: 10%;
    }
    section .plugText{
        margin-top: -4rem;
    }
    .footer{
        display: block;
        margin-left: 10%;
    }
    .list{
        margin-bottom: -6rem;
    
    }
    .foot{
        margin-top: 8rem;
    }
    .index{
        z-index: 1;
        color: #fff;
        display: block;
        background-color: #273765;
        border: none;
        position: relative;

    }
    .productUl li{
        color: #fff;
    }
    .langUl li{
        line-height: 0px;
    }
}

@media screen and (max-width: 576px) {
    @keyframes textslide{
        0%{right:-400px;}
        05%{right: -5px}
        60%{right: -5px}
        65%{right: 685px}
        100%{right: 685px}
    }   
    h1{
        font-size: 30px;
    } 
    .slide{
        width: 100%;
        overflow: visible;
    }
    .div{
        width: 0;
    }
    .slide form label{
        font-size: 11px;
    }
    .slide form input[type="text"]{
      width: 50%;
    }
      .slide form .inp{
        width: 80%;
      }
      

    .row{
        display: block;
        height: 70vh;
    }
    #arrow{
        position: absolute;
        left: 25rem;

    }

    .blueSection section{
        margin: 6%;
    }
    .custom_service p{
        width: 100%;
        padding: 0;
    }
    .blueSection .plugImg{
        margin-left: -5%;
        width: 110%;
    }
    .ping, .custom, .footer, .foot, .plugTxt, .custom_service p, .whiteSection iframe,section .plugText{
        width: 90%;
        margin-left: 5%;
    }
    section .plugText{
        margin-top: -4rem;
    }
    .custom .customers{
        width: 90%;
    }
    #big{
        width: 70%;
    }
}